@font-face {
  font-family: 'Pretendard Std';
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/PretendardStd-Bold.woff) format('woff');
}


@font-face {
  font-family: 'Pretendard Std';
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/PretendardStd-Regular.woff) format('woff');
}